<mt:setvar name="page_title" value="<__trans phrase="Thumbnail Prototypes">">
<mt:setvar name="list_thumbnailprototypes" value="1">

<mt:setvarblock name="html_body_footer">
    <mt:include name="include/display_options.tmpl">
</mt:setvarblock>

<mt:setvarblock name="related_content">
    <mtapp:PageActions />
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
    <script type="text/javascript">
    <!--
    var tableSelect;
    function init()
    {
    	// setup
    	tableSelect = new TC.TableSelect( "imagecropper-listing-table" );
    	tableSelect.rowSelect = true;
    }

    TC.attachLoadEvent( init );
    //-->
    </script> 
    <style type="text/css">
    <!--
        #imagecropper-listing-table .date { white-space: nowrap; }
        #main-content { padding-top: 5px; }
        .content-nav #main-content .msg { margin-left: 0px; }
    // -->
    </style>
</mt:setvarblock>

<mt:setvarblock name="content_header">
    <div id="msg-container">
    <mt:if name="prototype_saved">
        <mtapp:statusmsg
            id="message"
            class="success">
            <__trans phrase="A new Thumbnail Prototype has been successfully created.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="prototype_removed">
        <mtapp:statusmsg
            id="message"
            class="success">
            <__trans phrase="The selected protype(s) have been deleted.">
        </mtapp:statusmsg>
    </mt:if>
    </div>
    <p id="create-new-link"><a href="javascript:void(0)" onclick="openDialog(null,'edit_prototype','blog_id=<mt:var name="blog_id">');return false;" class="icon-left icon-create"><__trans phrase="Create Thumbnail Prototype"></a></p>
</mt:setvarblock>

<mt:setvarblock name="action_buttons">
    <a href="javascript:void(0)"
        onclick="doForMarkedInThisWindow(getByID('prototype-listing-form'), '<__trans phrase="prototype">', '<__trans phrase="prototypes">', 'id', 'itemset_delete_prototypes'); return false"
        accesskey="d"
        title="<__trans phrase="Delete selected prototypes (d)">"
        ><__trans phrase="Delete"></a>
</mt:setvarblock>

<$mt:include name="include/header.tmpl"$>

<mtapp:listing type="prototypes" default="<__trans phrase="No thumbnail prototypes could be found.">" empty_message="<__trans phrase="No thumbnail prototypes could be found.">">
    <mt:if name="__first__">
    <thead>
        <tr>
            <th class="cb"><input type="checkbox" name="id-head" value="all" class="select" /></th>
            <th id="l-lbl"><__trans phrase="Label"></th>
            <th id="l-mxw"><__trans phrase="Max Width"></th>
            <th id="l-mxh"><__trans phrase="Max Height"></th>
            <th id="l-act"><__trans phrase="Created On"></th>
        </tr>
    </thead>
    <tbody>
    </mt:if>
        <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
            <td class="cb"><input type="checkbox" name="id" value="<mt:var name="id">" class="select" /></td>
            <td><a href="javascript:void(0)" onclick="openDialog(null,'edit_prototype','blog_id=<mt:var name="blog_id">&id=<mt:var name="id">');return false;" class=""><mt:var name="label" escape="html"></a></td>
            <td><mt:var name="max_width" escape="html"></td>
            <td><mt:var name="max_height" escape="html"></td>
            <td>
            <mt:if name="created_on_relative">
                <mt:if name="dates_relative">
                        <$mt:var name="created_on_relative"$>
                <mt:else>
                        <$mt:var name="created_on_formatted"$>
                </mt:if>
            <mt:else>
                        <$mt:var name="created_on_formatted"$>
            </mt:if>
            </td>
        </tr>
    <mt:if name="__last__">
    </tbody>
    </mt:if>
</mtapp:listing>
<$mt:include name="include/footer.tmpl"$>
