<mt:setvarblock name="page_title">Create Thumbnail for <$mt:AssetLabel encode_html="1"$></mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/jquery-1.3.2.min.js"></script>
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/ui.core.js"></script>
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/ui.dialog.js"></script>
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/ui.resizable.js"></script>
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/ui.draggable.js"></script>
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/jquery.dimensions.js"></script>
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/jquery.scrollable-1.0.1.min.js"></script>
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/jquery.Jcrop.js"></script>
    <script type="text/javascript">
    var protos = Array();
    var coords;
    var asset_id = <$mt:AssetID$>;
    var selected = 0;
<mt:loop name="prototype_loop">
    protos[<$mt:var name="proto_id"$>] = { 
      'max_width': <$mt:var name="max_width"$>, 
      'max_height': <$mt:var name="max_height"$>, 
      'label': '<$mt:var name="proto_label" encode_js="1"$>', 
      'size': '<$mt:var name="cropped_size"$>',
      'x': <$mt:var name="cropped_x" default="0"$>, 'y': <$mt:var name="cropped_y" default="0"$>, 
      'w': <$mt:var name="cropped_w" default="0"$>, 'h': <$mt:var name="cropped_h" default="0"$> 
    };
</mt:loop>
    $(document).ready( function() {    
      $('.scrollable').scrollable({ size: 4, items: 'ul', clickable: false });
      $('#prototypes li').hover( 
        function() { $(this).find('.proto_action').show(); },
        function() { $(this).find('.proto_action').hide(); }
      );
      $('#prototypes li').click( function() {
        var id = $(this).attr('id').substr( 'proto-'.length )
	var p = protos[id];
	$('#prototypes li#proto-'+selected).removeClass('selected');
	$('#prototypes li#proto-'+id).addClass('selected');
        selected = id;
	initCrop( p.max_width, p.max_height, p.x, p.y, p.w, p.h );
      });
      $('#prototypes li .proto_action a').click( function(e) {
        e.stopPropagation();
        var li = $(this).parent().parent();
        li.addClass('nothumb');
        var id = li.attr('id').substr( 'proto-'.length )
        $.post("<mt:AdminCGIPath><mt:AdminScript>", {
            '__mode': "imagecropper_delete_crop",
            'blog_id':"<mt:var name="blog_id">",
            'id':asset_id,
            'prototype':id,
            'magic_token':'<mt:var name="magic_token">'
          },
          function(data){
            $('#prototypes li#proto-'+id+' .proto_preview').html('<span>?</span>' );
            $('#prototypes li#proto-'+data.proto_id).find('.proto_size').html('');
          },
          "json"
        );
        return true;
      });
    });
    function toggleAnnotation( e ) {
      if (e.checked) {
        $('#annotation-settings').slideDown();
      } else {
        $('#annotation-settings').slideUp();
      }
    };
    function setCoords(c) { coords = c; }
    var jcrop;
    function initCrop(max_w,max_h,x,y,w,h) {
      if (jcrop) { jcrop.destroy(); }
      jcrop = $.Jcrop('#asset img',{
        aspectRatio: ( max_w / max_h ), /* the size of the crop region */
        minSize    : [ max_w, max_h ],
        boxWidth   : <$mt:var name="box_width"$>, 
        boxHeight  : <$mt:var name="box_height"$>,
        trueSize   : [ <$mt:AssetProperty property="image_width"$>, <$mt:AssetProperty property="image_height"$> ],
        onSelect   : setCoords
      });
      jcrop.setSelect([ x, y, x+w, y+h ]);
    }
    function cropAsset() {
      if (!coords) { return; }
      // TODO - progress indicator
      protos[ selected ].x = coords.x;
      protos[ selected ].y = coords.y;
      protos[ selected ].w = coords.w;
      protos[ selected ].h = coords.h;
      var annotate = $('#include_annotation-field input:checked').val() == 1;
      $('#prototypes li#proto-'+selected).addClass('inprogress');
      $.post("<mt:AdminCGIPath><mt:AdminScript>", {
          '__mode': "imagecropper_crop",
          'blog_id':"<mt:var name="blog_id">",
          'id':asset_id,
          'prototype':selected,
          'x':coords.x,
          'y':coords.y,
          'w':coords.w,
          'h':coords.h,
          'type':$('#type-field select').val(),
          'quality':$('#quality-field select').val(),
          'annotate':annotate ? 1 : 0,
          'text':$('#annotation-field input').val(),
          'text_loc':$('#annotation_loc-field select').val(),
          'text_rot':$('#annotation_rot-field select').val(),
          'magic_token':'<mt:var name="magic_token">'
        },
        function(data){
          $('#prototypes li#proto-'+data.proto_id).removeClass('inprogress');
          $('#prototypes li#proto-'+data.proto_id+' .proto_preview').html('<img src="'+data.cropped_url + '" width="175" />' );
	  $('#prototypes li#proto-'+data.proto_id).removeClass('nothumb');
          $('#prototypes li#proto-'+data.proto_id).find('.proto_size').html(data.cropped_size);
        },
        "json"
      );
      return true;
    }
    </script>
    <link rel="stylesheet" href="<mt:StaticWebPath>plugins/ImageCropper/css/app.css" type="text/css">
    <link rel="stylesheet" href="<mt:StaticWebPath>plugins/ImageCropper/css/flora.dialog.css" type="text/css">
    <link rel="stylesheet" href="<mt:StaticWebPath>plugins/ImageCropper/css/jquery.Jcrop.css" type="text/css">
</mt:setvarblock>

<$mt:include name="include/header.tmpl"$>

<mt:unless name="has_prototypes">
        <mtapp:statusmsg
            id="message"
            class="alert">
            <__trans phrase="You have no thumbnail prototypes defined. Please <a href="<mt:var name="script_url">?__mode=list_prototypes&blog_id=<$mt:var name="blog_id"$>">create some thumbnail prototypes</a>.">
        </mtapp:statusmsg>
<mt:else>

<h3>Select a Thumbnail Prototype:</h3>

<div id="selector" class="pkg">
<a class="prev"></a>
<div class="scrollable">
<ul id="prototypes" class="pkg">
<mt:loop name="prototype_loop">
  <li id="proto-<$mt:var name="proto_id"$>" class="<mt:unless name="thumbnail_url">nothumb</mt:unless>">
    <div class="proto_preview">
      <mt:if name="thumbnail_url"><img src="<$mt:var name="thumbnail_url"$>" <mt:unless name="smaller_vp"><mt:if name="is_tall">height="135"<mt:else>width="175"</mt:if></mt:unless> /><mt:else><span>?</span></mt:if>
    </div>
    <div class="proto_action"><a href="javascript:void(0);"><img src="<$mt:StaticWebPath$>plugins/ImageCropper/css/delete.gif" /></a></div>
    <div class="proto_progress"><img src="<$mt:StaticWebPath$>plugins/ImageCropper/css/indicator.gif" width="16" height="16" /></div>
    <div class="proto_size"><$mt:var name="cropped_size" default=""$></div>
    <div class="proto_info">
      <$mt:var name="proto_label"$><br />
      (<$mt:var name="max_width"$> x <$mt:var name="max_height"$>)
    </div>
  </li>
</mt:loop>
</ul>
</div>
<a class="next"></a>
</div>


<div id="asset" style="width: <$mt:var name="box_width"$>; height: <$mt:var name="box_height"$>"><mt:section trim="1">
<mt:setvarblock name="width"><$mt:AssetProperty property="image_width"$></mt:setvarblock>
<mt:if name="width" lt="900">
<img src="<$mt:AssetURL$>" />
<mt:else>
<img src="<$mt:AssetThumbnailURL width="900"$>" />
</mt:if>
</mt:section></div>

<mtapp:setting
    id="include_annotation"
    label_class="top-label"
    label="<__trans phrase="Include Text Annotation?">"
    show_label="0"
    show_hint="0">
      <label><input type="checkbox" name="include_annotation" value="1" onclick="toggleAnnotation(this);" /> Include Text Annotation?</label>
</mtapp:setting>
<div id="annotation-settings" class="pkg settings-group">
<mtapp:setting
    id="annotation"
    label_class="top-label"
    label="<__trans phrase="Text Annotation">"
    show_hint="0">
      <input type="text" name="annotation" value="<$mt:DefaultCroppedImageText encode_html="1"$>" size="50" />
</mtapp:setting>
<mtapp:setting
    id="annotation_loc"
    label_class="top-label"
    label="<__trans phrase="Annotation Location">"
    show_hint="0">
       <select name="annotation_loc">
         <option value="NorthWest">Top Left</option>
         <option value="NorthEast">Top Right</option>
         <option value="SouthWest">Bottom Left</option>
         <option value="SouthEast" selected>Bottom Right</option>
       </select>
</mtapp:setting>
<mtapp:setting
    id="annotation_rot"
    label_class="top-label"
    label="<__trans phrase="Annotation Rotation">"
    show_hint="0">
       <select name="annotation_rot">
         <option>Horizontal</option>
         <option>Vertical</option>
       </select>
</mtapp:setting>
</div>

<div id="compress-settings" class="pkg settings-group">
<mtapp:setting
    id="type"
    label="<__trans phrase="Thumbnail Image Type">"
    hint="non-functional right now"
    show_hint="1">
       <select name="type">
         <option value="jpg">JPEG</option>
         <option value="png">PNG</option>
         <option value="gif">GIF</option>
       </select>
</mtapp:setting>

<mtapp:setting
    id="quality"
    label="<__trans phrase="Thumbnail Quality">"
    hint="non-functional right now"
    show_hint="1">
       <select name="quality">
         <option value="0">0 - Lowest</option>
         <option value="10">1</option>
         <option value="20">2</option>
         <option value="30">3</option>
         <option value="40">4</option>
         <option value="50">5</option>
         <option value="60">6</option>
         <option value="70">7</option>
         <option value="80">8</option>
         <option value="90">9</option>
         <option value="100">10 - Highest</option>
       </select>
</mtapp:setting>
</div>

<div class="actions-bar">
  <div class="actions-bar-inner pkg actions">
    <button
        type="button"
        class="primary-button"
        accesskey="s"
        title="Crop"
        onclick="return cropAsset();">Crop</button>
  </div>
</div>
</mt:unless>

<$mt:include name="include/footer.tmpl"$>
