<mt:setvarblock name="page_title">Create Thumbnail for <$mt:AssetLabel encode_html="1"$></mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/jquery-1.3.2.min.js"></script>
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/ui.core.js"></script>
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/ui.dialog.js"></script>
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/ui.resizable.js"></script>
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/ui.draggable.js"></script>
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/jquery.dimensions.js"></script>
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/jquery.scrollable-1.0.1.min.js"></script>
    <script src="<mt:StaticWebPath>plugins/ImageCropper/js/jquery.Jcrop.js"></script>
    <script type="text/javascript">
    var protos = Array();
    var coords;
    var asset_id = <$mt:AssetID$>;
    var selected = 0;
<mt:loop name="prototype_loop">
    protos[<$mt:var name="proto_id"$>] = { 'max_width': <$mt:var name="max_width"$>, 'max_height': <$mt:var name="max_height"$>, 'label': '<$mt:var name="proto_label" encode_js="1"$>' };
</mt:loop>
    $(document).ready( function() {    
      $('.scrollable').scrollable({ size: 4, items: 'ul', clickable: false });
      $('#prototypes li').click( function() {
        var id = $(this).attr('id').substr( 'proto-'.length )
	var p = protos[id];
	$('#prototypes li#proto-'+selected).removeClass('selected');
	$('#prototypes li#proto-'+id).addClass('selected');
        selected = id;
	initCrop( p.max_width, p.max_height );
      });
      $('#prototypes li .proto_action a').click( function(e) {
        e.stopPropagation();
        var li = $(this).parent().parent();
        li.addClass('nothumb');
        var id = li.attr('id').substr( 'proto-'.length )
        $.post("<mt:AdminCGIPath><mt:AdminScript>", {
            '__mode': "imagecropper_delete_crop",
            'blog_id':"<mt:var name="blog_id">",
            'id':asset_id,
            'prototype':id,
            'magic_token':'<mt:var name="magic_token">'
          },
          function(data){
            $('#prototypes li#proto-'+id+' .proto_preview').html('<span>?</span>' );
          },
          "json"
        );
        return true;
      });
    });
    function setCoords(c) { coords = c; }
    function initCrop(w,h) {
      $('#asset img').Jcrop({
        aspectRatio: ( w / h ), /* the size of the crop region */
        boxWidth: <$mt:var name="box_width"$>, 
        boxHeight: <$mt:var name="box_height"$>,
        trueSize: [ <$mt:AssetProperty property="image_width"$>, <$mt:AssetProperty property="image_height"$> ],
        onSelect: setCoords
      });
    }
    function cropAsset() {
      if (!coords) { return; }
      // TODO - progress indicator
      $.post("<mt:AdminCGIPath><mt:AdminScript>", {
          '__mode': "imagecropper_crop",
          'blog_id':"<mt:var name="blog_id">",
          'id':asset_id,
          'prototype':selected,
          'x':coords.x,
          'y':coords.y,
          'w':coords.w,
          'h':coords.h,
          'compress':$('#compress-field select').val(),
          'text':$('#annotation-field input').val(),
          'text_loc':$('#annotation_loc-field select').val(),
          'text_rot':$('#annotation_rot-field select').val(),
          'magic_token':'<mt:var name="magic_token">'
        },
        function(data){
          $('#prototypes li#proto-'+data.proto_id+' .proto_preview').html('<img src="'+data.cropped_url + '" width="175" />' );
	  $('#prototypes li#proto-'+data.proto_id).removeClass('nothumb');
        },
        "json"
      );
      return true;
    }
    </script>
    <link rel="stylesheet" href="<mt:StaticWebPath>plugins/ImageCropper/css/app.css" type="text/css">
    <link rel="stylesheet" href="<mt:StaticWebPath>plugins/ImageCropper/css/flora.dialog.css" type="text/css">
    <link rel="stylesheet" href="<mt:StaticWebPath>plugins/ImageCropper/css/jquery.Jcrop.css" type="text/css">
</mt:setvarblock>

<$mt:include name="include/header.tmpl"$>

<mt:unless name="has_prototypes">
        <mtapp:statusmsg
            id="message"
            class="alert">
            <__trans phrase="You have no thumbnail prototypes defined. Please <a href="<mt:var name="script_url">?__mode=list_prototypes&blog_id=<$mt:var name="blog_id"$>">create some thumbnail prototypes</a>.">
        </mtapp:statusmsg>
<mt:else>

<h3>Select a Thumbnail Prototype:</h3>

<div id="selector" class="pkg">
<a class="prev"></a>
<div class="scrollable">
<ul id="prototypes" class="pkg">
<mt:loop name="prototype_loop">
  <li id="proto-<$mt:var name="proto_id"$>" class="<mt:unless name="thumbnail_url">nothumb</mt:unless>">
    <div class="proto_preview"><mt:if name="thumbnail_url"><img src="<$mt:var name="thumbnail_url"$>" width="175" /><mt:else><span>?</span></mt:if></div>
    <div class="proto_action"><a href="javascript:void(0);"><img src="<$mt:StaticWebPath$>plugins/ImageCropper/css/delete.gif" /></a></div>
    <div class="proto_info">
      <$mt:var name="proto_label"$><br />
      (<$mt:var name="max_width"$> x <$mt:var name="max_height"$>)
    </div>
  </li>
</mt:loop>
</ul>
</div>
<a class="next"></a>
</div>

<div id="asset"><img src="<mt:AssetThumbnailURL width="900">" /></div>

<div id="annotation-settings" class="pkg">
<mtapp:setting
    id="annotation"
    label_class="top-label"
    label="<__trans phrase="Text Annotation">"
    show_hint="0">
      <input type="text" name="annotation" value="<$mt:DefaultCroppedImageText encode_html="1"$>" size="50" />
</mtapp:setting>
<mtapp:setting
    id="annotation_loc"
    label_class="top-label"
    label="<__trans phrase="Annotation Location">"
    show_hint="0">
       <select name="annotation_loc">
         <option value="NorthWest">Top Left</option>
         <option value="NorthEast">Top Right</option>
         <option value="SouthWest">Bottom Left</option>
         <option value="SouthEast" selected>Bottom Right</option>
       </select>
</mtapp:setting>
<mtapp:setting
    id="annotation_rot"
    label_class="top-label"
    label="<__trans phrase="Annotation Rotation">"
    show_hint="0">
       <select name="annotation_rot">
         <option>Horizontal</option>
         <option>Vertical</option>
       </select>
</mtapp:setting>
</div>

<mtapp:setting
    id="compress"
    label_class="top-label"
    label="<__trans phrase="Thumbnail Compression">"
    hint="non-functional right now"
    show_hint="1">
       <select name="compress">
         <option value"0">None</option>
         <option>10</option>
         <option>20</option>
         <option>30</option>
         <option>40</option>
         <option>50</option>
         <option>60</option>
         <option>70</option>
         <option>80</option>
         <option>90</option>
         <option value="100">Maximum</option>
       </select>
</mtapp:setting>

<div class="actions-bar">
  <div class="actions-bar-inner pkg actions">
    <button
        type="button"
        class="primary-button"
        accesskey="s"
        title="Crop"
        onclick="return cropAsset();">Crop</button>
  </div>
</div>
</mt:unless>

<$mt:include name="include/footer.tmpl"$>
